body {
	padding-top: 50px;
	background-color: #fff;
}

.main-container {
	padding: 40px 15px;
	text-align: center;
}

.navbar-brand.full {
	padding: 2px;
	margin-right: 5px;
}

.top-buffer {
	margin-top: 30px;
}