<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head(title='Tasks')">
</head>

<body>
	<nav th:replace="fragments :: navbar(active='Tasks', loggedIn='true')"></nav>

	<div class="container">
		<h2>Tasks</h2>
		
		<div th:replace="fragments :: global_message"></div>

		<div class="row">
			<div class="col-md-12">
				<table class="table table-hover">
					<tr>
						<th>Id</th>
						<th>Process Instance Id</th>
						<th>Name</th>
						<th>Assignee</th>
						<th>Action</th>
					</tr>
					<tr th:each="assignedTask : ${assignedTasks}">
						<td th:text="${assignedTask.id}"></td>
						<td th:text="${assignedTask.processInstanceId}"></td>
						<td th:text="${assignedTask.name}"></td>
						<td th:text="${assignedTask.assignee}"></td>
						<td>
							<form th:action="@{/tasks}" th:object="${tasksModel}" method="post">
								<input type="hidden" id="id" name="id" th:value="${assignedTask.id}" />
								<button class="btn btn-primary" type="submit">Complete</button>
							</form>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div th:replace="fragments :: bootstrap_js"></div>
</body>
</html>